@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-primary: "#3BB77E";
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: "#3BB77E";
  --color-secondary-content: oklch(98% 0.01 200);
}
